<!DOCTYPE html>
<html>
  <head>
    <title>Add an artist/band</title>
  </head>
  <body>
    <form method="POST">
      <label>Band name:</label>
      <input type="name" name="bandname" placeholder="..."><br>
      <label>Year formed:</label>
      <input type="name" name="formed" placeholder="..."><br>
      <label>When did they split up?:</label>
      <input type="name" name="splitup" placeholder="(optional)"><br>
      <label>Genre they play:</label>
      <input type="name" name="genre" placeholder="..."><br><br>

      <input type="submit" value="submit"/><br>
    </form>
</html>
